.connexionForm{
    -moz-box-shadow: 0px 0px 50px 6px #00d2cb;
    -webkit-box-shadow: 0px 0px 50px 6px #00d2cb;
    -o-box-shadow: 0px 0px 50px 6px #00d2cb;
    box-shadow: 0px 0px 50px 6px #00d2cb;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#00d2cb, Direction=NaN, Strength=50);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width : 400px;
    margin-top : 250px;
    padding : 40px;
    padding-top : 10px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
#navbar
{
    width : 300px;
    margin : auto;
    font-size : 32px;
}
#navbar li a{
    color : #00d2cb;
}
#navbar li a:hover{
    color : appworkspace;
    -moz-box-shadow: 0px 0px 20px 0px #00d2cb;
    -webkit-box-shadow: 0px 0px 20px 0px #00d2cb;
    -o-box-shadow: 0px 0px 20px 0px #00d2cb;
    box-shadow: 0px 0px 20px 0px #00d2cb;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#00d2cb, Direction=NaN, Strength=20);
}