.btn {
    font-family: Arial;
    color: #db1b1b;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
}
.connexionForm{
    background-color : beige;
    border : 1px solid red;
    border-radius : 10px;
    width : 20%;
    margin : auto;
    padding : 8px;
}
.btn:hover {
    text-decoration: none;
    border: solid #db1b1b 2px;
    cursor: pointer;
}

.btn2 {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #db1b1b;
    padding: 10px 20px 10px 20px;
    border: solid #db1b1b 2px;
    text-decoration: none;
    width : 150px;
}

.btn2:hover {
    text-decoration: none;
    border: solid #ffffff 2px;
    cursor: pointer;
}

.btn3 {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #db1b1b;
    padding: 10px 20px 10px 20px;
    border: solid #db1b1b 2px;
    text-decoration: none;
    width : 250px;
}

.btn3:hover {
    text-decoration: none;
    border: solid #ffffff 2px;
    cursor: pointer;
}

a
{
    text-decoration: none;
}

b1, b2{
    display: none;
}

.fa {
    color: red;
}

h2{
    color:black;

}
fieldset{
    border: 1px solid #CC0000;
}
.fieldwidth {
    border: 1px solid #CC0000;
    width: 30%;
}





/*calendrier*/





.cal_calendrier
{
    border:1px solid black;
    padding:1px;
    background-color:#4594ff;
    width:250px;
    margin:auto;
    height:200px;
    background-image:url('http://www.supportduweb.com/ftp/ybouane/scripts_astuces/javascript/calendrier/fond-250-200.gif');
}
.cal_calendrier th
{
    border:1px solid black;
    background-color:#ffffff;
}
.cal_calendrier td
{
    border:1px solid black;
    background-color:#ffffff;
    text-align:center;
}
.cal_aujourdhui
{
    color:#ff0000;
}
.cal_jours_av_ap
{
    color:#5a779e;
}